tests/screenshots/
.DS_Store
*.tmp
node_modules/
www/
dist-desktop/
.toolchains/
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.keystore
*.jks
